.navbar{
  height: 65px;
  width: 100%;
  background-color: azure;
  display: flex;
  color: black;

}
.navImg{
  width: 10%;
  
  
}
.links{
  width: 60%;
  display: flex;
  justify-content:space-evenly;
}
.links > p{
  padding: 10px;
}

.profile{
  width: 30%;
 
}
.navImg > img {
  margin: 2.5px;
height: 60px;
width: 60px;
}